
#mainContainer{

    position: absolute;
    width: 50%;
    height: auto;
    padding: 1%;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#mainContainer div{
    
    border-radius: 6px;
    font-size: 12px;
}


#mainContainer input[type=submit]{
    
    border-radius: 6px;
    background-color: black;
    color:rgb(255, 255, 255);
    font-weight: bold;
    border: 0px;
}

.containerForm{

    position: relative;
    width: 50%;
    height: auto;
    padding: 1%;
    color: white;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(194, 36, 36);

    
}
.containerForm input[type=text]{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 50%;
}

.containerForm input[type=number]{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 20%;
}
.formLine{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.formLine span{
    padding: 5px 25px;
}
.formLine input{
    text-align: center;
    padding: 5px;
}
.frmmain .frmSubmit{
    padding: 5px;
}


.frmmain{

    display: flex;
	flex-direction: column;
    gap: 10px;
    
}

.inptFlex{
    align-self:flex-start;
    flex: 1;
	-webkit-flex: 1;
    
    width: 40%;
}